body
{
    font-family: Consolas;
    font-size: 10pt;
}

ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

li {
    border-bottom: 1px solid #eee;
    margin-left: 0;
}

div.head {
    display: inline-block;
    min-width: 150px;
    font-weight: bold;
    text-align: right;
    padding-right: 3px;
    
    border-right:  1px solid #eee;
}

div.cell {
    display: inline-block;
    min-width: 50px;
    
}


.dataTable {
    border-collapse: collapse;
}


.dataTable td {
    margin: 0;
    padding: 3px 2px;
    font-size: 10pt;
    text-align: right;
    border: solid 1pt #999;
}

.matrix {
    border-collapse: collapse;
}

.matrix th, .matrix td {
    padding: 3px 2px;
    font-size: 10pt;
    border: solid 1pt #999;
}

.line {
    white-space: pre;
    margin: 0;
    padding: 0;
}